<% provide(:title, 'About') %>

		<h1>Sample App - About page</h1> 

		<p>
			The <a href="http://apidock.com/">Ruby Docs</a> site is a site which will help you learn all about typing at touch speed without looking at the keyboard at all. It will however take somr incredible discipline not to fall back into bad habits and to keep your fingers planted on the kryboard on the same place at the same time!!
		</p>
