<% provide(:title, 'Sign up') %>

		<h1>Sample App - Sign up page</h1> 

		<p>
			The <a href="http://obscure-river-5537.herokuapp.com/">Sample app</a> site is a test rails website following the Michael Hartl rails tutorial, sign up here.
		</p>